<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crypto_api.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Crypto_api.Services.Properties.Settings>
            <setting name="URL_WCI" serializeAs="String">
                <value>https://www.worldcoinindex.com/apiservice/json?key=oaWZ4M8sUhxbAnbRdpByV7fZOle3cN</value>
            </setting>
            <setting name="URL_CMCG" serializeAs="String">
                <value>https://api.coinmarketcap.com/v1/global/</value>
            </setting>
            <setting name="URL_CMCT" serializeAs="String">
                <value>https://api.coinmarketcap.com/v1/ticker/</value>
            </setting>
        </Crypto_api.Services.Properties.Settings>
    </applicationSettings>
</configuration>